@font-face {
    font-family: myFont;
    src: url(../assets/fonts/miri/miriwin-webfont.woff);
  }
body{
    direction:rtl;
    text-align: center;
    font-family: myFont;
}
.navbar{
    width: 100vw;
    position: sticky;
    top:0;
    z-index: 1;
}
.navbar>.container-fluid{
    justify-content: end;
}
.nav-link:hover {
    text-decoration: none;
    background-color: rgb(245, 143, 106);
    border-radius: 45%;}
.mycls{
    enable-background:unset ;
    background-color: coral;
    border-radius: 45%;
}
.yes{
    color: black;
}
.no{ pointer-events: none; 
    cursor: default; 
    text-decoration: none; 
    color: black; }